.jobSearch-section {
    padding-top: 100px;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jobSearch-section-search-bar-section {
    padding: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jobSearch-search-bar-container {
    height: 60px;
    width: 70%;
    display: inline-flex;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: rgb(244,242,246);
    padding: 12px 17px;
    > img:nth-child(1) {
        padding-right: 10px;
    }
    > input {
        outline: none;
        border: 0 solid grey;
        font-size: 17px;
        color: #000000;
        height: 100%;
        margin-right: 8px;
        background-color: transparent;
        width: 100%;
    }
}

.jobSearch-filter-jobs-profileUpdate-section {
    width: 100%;
    background-color: rgb(244,242,246);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }
}

.jobSearch-no-of-jobs-heading{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    > h1 {
        font-size: 19px;
        margin: 15px;
    }
}

.jobSearch-filter-container {
    width: 25%;
    min-width: 200px;
    > form {
        background-color: #ffffff;
        border: 0.5px solid gainsboro;
        padding: 22px;
        padding-bottom: 0 !important;
        border-radius: 14px;
    }
}

.filter-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    > div {
        display: flex;
        align-items: center;
        gap: 10px;
        > img {
            height: 14px;
        }
    }
    > p {
        color: rgb(31 130 104);
        font-size: 13px;
        font-weight: 600;
    }
}

.diff-filter-items {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    > span {
        background-color: rgb(235,243,254);
        border-radius: 12px;
        border: 1px solid rgb(88,129,189);
        padding: 0 12px;
        font-size: 14px;
        color: rgb(40,83,153);
        > span {
            color: rgb(32,85,164);
            font-size: 17px;
            margin-left: 5px;
        }
    }
}

.dropDown-click-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
    cursor: pointer;
    color: #000000;
    > p {
        font-size: 15px;
        font-weight: 600;
    }
}

.filter-section-dropdownimg {
    height: 20px;
    transition: all 0.1s linear;
}

.rotate {
    transform: rotate(180deg);
}

.filter-options-group {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    margin: 12px 0;
    position: relative;
    > label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #4b4b4b;
        > input {
            color: rgb(31 130 104);
        }
    }
    > input{
        margin-top: 20px;
        position: relative;
        width: 100%;
    }
}

.filter-sortby-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
}

.experience-range-filter-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
    > p {
        color: #808080;
    }
}

.salary-range-filter-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
    > p {
        color: #808080;
    }
}

.datePosted-radio-options-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
}

.highestEdu-radio-options-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
    > p {
        color: #808080;
    }
}

.english-radio-options-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
    > p {
        color: #808080;
    }
}

.workMode-checkBox-section {
    border-bottom: 0.5px solid rgb(189, 189, 189);
}

.range-top-text {
    position: absolute;
    transform: translate(-50%, -35%);
    background-color: rgb(0,66,44);
    color: #ffffff;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    padding: 3px 9px;
    font-size: 13px;
    white-space: nowrap;
}

.experience-label-container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #373737;
}

.jobSearch-jobs-container {
    width: 45%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.no-jobs-found-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 2.5rem;
    > img {
        height: 130px;
        width: 130px;
    }
    > h1 {
        font-size: 20px;
        font-weight: 600;
    }
    > p {
        color: #808080;
        font-size: 15px;
    }
    > button {
        background-color: rgb(251,236,237);
        color: rgb(205,37,88);
        border: 1px solid rgb(210,32,32);
        font-size: 18px;
        padding: 8px 18px;
        border-radius: 20px;
        > span {
            margin-left: 5px;
            font-size: 21px;
            color: rgb(205,37,88);
        }
    }
}

.job-card-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.job-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    > div {
        display: flex;
        align-items: center;
        gap: 12px;
        > img {
            height: 45px;
        }
        > h1 {
            font-size: 16px;
            font-weight: 500;
        }
    }
    > span {
        color: rgb(0,66,44);
        font-size: 19px;
    }
}

.job-location-salary-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    > img {
        height: 27px;
    }
}

.job-work-type-shift-experience-container {
    display: flex;
    gap: 5px;
    overflow: hidden;
    > span {
        background-color: #e5e5e5;
        border-radius: 6px;
        display: flex;
        white-space: nowrap;
        align-items: center;
        padding: 6px 5px;
        > img {
            height: 25px;
        }
    }
}

.jobSearch-userLogin-card {
    width: 25%;
    min-width: 200px;
}
